<div>
    <div class="head-container">
        <h1>Showcase</h1>
    </div>
    <div class="row main-container">
        <div class="row main-content">
            <div class="col-6">
                <div>
                     <canvas id="game" width="800" height="600" style="width: 800px; height: 600px;">
                        Canvas not supported upgrade to evergreen browser
                    </canvas>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <h5 class="card-title">
                        Features
                    </h5>
                    <div class="card-content">
                        Features
                    </div>
                    <div class="card-footer">
                        Features
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div>
                    <h4>Description</h4>
                    <pre>
                        A minesweeper game built using html5 and JS
                    </pre>
                </div>
                <div>
                    <h4>Why</h4>
                    <pre>
                        Final project for my web programming class CSC 337
                    </pre>
                </div>
                <div>
                    <h4>How</h4>
                    <pre>
                        Built using the Canvas API
                    </pre>
                </div>
                <div>What I learned</div>
            </div>
        </div>
    </div>
    <div class="row tail-container">
        <div class="row head">
            <div class="col-12">
                Resources and Credit
            </div>
        <div class="row content">
            <div class="col-12">
                Resources and Credit Content
            </div>
        </div>
    </div>
</div>