<div>
    <div class="row head-container">
        <h3>About Me</h3>
    </div>
    <div class="row main-container">
        <div class="row main-content">
            <div class="col-4">
                <canvas></canvas>
                <div>
                    <pre>
                        I am a former Computer Science major, turned Information Science and Tech. major. I am motivated to learn about and work with web technologies that make data not only accessible, but also more engaging. More specifically, I am interested in how web technologies can be used to make manipulating visual and audio data more engaging.

                        My skills are grounded in software development, with languages like C/C++, PHP, and JavaScript in my tool belt. Thanks to my experience with C/C++ my knowledge isn't just limited to the high level aspect of software. I do have proficient understanding of the computer architecture, and Atmel assembly.

                        Of the web technologies I am interested in, Full Stack development is a major passion of mine. I am seeking opportunities that will allow me to gain practical experience with Full Stack development, and build on my knowledge of web technologies.
                    </pre>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-group">
                    <!--
                        <input type="button" class="tab {{detail.state}}" *ngFor="let detail of details" (click)="changeDetail(detail)" value="{{detail.name}}">
                    -->
                    <input type="button" class="tab {{detail.state}}" *ngFor="let detail of details" (click)="changeDetail(detail)" value="{{detail.name}}">
                </div>
                <div class="row">
                    <!--<p class="detail"></p>-->
                    
                    <div class="detail" *ngIf="currDetail">
                        <!--
                        <table>
                            <tbody>
                                <tr *ngFor="let content of currDetail.text.content">
                                    <caption>{{content.title}}</caption>
                                    <td *ngFor="let value of content.values">
                                        {{value}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        -->
                        <ul class="list">
                            <li *ngFor="let content of currDetail.text.content">
                                <dl>
                                    <dt>{{content.title}}</dt>
                                    <dd *ngFor="let value of content.values">
                                        {{value}}
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row tail-container">
        <div class="row tail-head">
            <h4 class="advert-text">Availale for Hire</h4>
        </div>
        <div class="row tail-content">
            <div class="col-12">
                <pre>
                    My computational literacy with C/C++ has given me a great tool kit for growing my pallet of programming skills. Even though I have not been formally taught web development, I have used my literacy to teach myself  the fundamentals and beyond of Javascript, HTML5, and CSS2.

                    As an avid web programmer  I have made sure to become proficient with tools that make development easier, such as the Cloud9 IDE, and Github. Working with these type of tools I have become proficient with debugging, documentation, and management of multiple projects.

                    My work experience is not explicitly related to my field, but I have gained other skills and work strategies that are transferable. I have worked jobs that stress productive customer interactions where I am in a position of expertise, and that emphasize self supervised responsibilities. My strong interest in web development paired with the skills and work ethic I have make me confident in my ability to become a highly productive member of the team.

                </pre>
            </div>
        </div>
    </div>
</div>