<div>
    <div class="row head-container">
        <h1>About Me</h1>
    </div>
    <div class="row main-container">
        <div class="row main-content">
            <div class="col-4">
                <div class="responsive-img">
                    <!--<img src="assets/imgs/profile.jpeg">-->
                </div>
                <div id="about-me">
                    <pre>
                        I am a former Computer Science major, turned Information Science and Tech. major. I am motivated to learn about and work with web technologies that make data not only accessible, but also more engaging. More specifically, I am interested in how web technologies can be used to make manipulating visual and audio data more engaging.

                        My skills are grounded in software development, with languages like C/C++, PHP, and JavaScript in my tool belt. Thanks to my experience with C/C++ my knowledge isn't just limited to the high level aspect of software. I do have proficient understanding of the computer architecture, and Atmel assembly.

                        Of the web technologies I am interested in, Full Stack development is a major passion of mine. I am seeking opportunities that will allow me to gain practical experience with Full Stack development, and build on my knowledge of web technologies.
                    </pre>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-group">
                    <!--
                        <input type="button" class="tab {{detail.state}}" *ngFor="let detail of details" (click)="changeDetail(detail)" value="{{detail.name}}">
                    -->
                    <input type="button" class="tab {{detail.state}}" *ngFor="let detail of details" (click)="changeDetail(detail)" value="{{detail.name}}">
                </div>
                <div id="summary-component" class="row">
                    <!--<p class="detail"></p>-->
                    
                    <div id="summary-content" class="detail" *ngIf="currDetail">
                        <!--
                        <table>
                            <tbody>
                                <tr *ngFor="let content of currDetail.text.content">
                                    <caption>{{content.title}}</caption>
                                    <td *ngFor="let value of content.values">
                                        {{value}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        -->
                        <ul class="list">
                            <li *ngFor="let content of currDetail.text.content">
                                <dl>
                                    <dt>{{content.title}}</dt>
                                    <dd *ngFor="let value of content.values">
                                        <pre>{{value}}</pre>
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row tail-container">
        <div class="row tail-head">
            <h4 class="advert-text">Availale for Hire</h4>
        </div>
        <div class="row tail-content">
            <div class="col-12">
                <pre>
                </pre>
            </div>
        </div>
    </div>
</div>