<div>
    <div class="row head-container">
        <h1 class="page-title">About Me</h1>
    </div>
    <div class="row main-container">
        <div class="row main-content">
            <div class="col-3">
                <div class="responsive-img cool rounded">
                    <img src="assets/imgs/profile.drawn.png" alt="profile picture of author">
                </div>
                <div id="about-me">
                    <pre>
                        I am a former Computer Science major, turned Information Science and Tech. major. I am motivated to learn about and work with web technologies that make data not only accessible, but also more engaging. More specifically, I am interested in how web technologies can be used to make manipulating visual and audio data more engaging.

                        My skills are grounded in software development, with languages like C/C++, PHP, and JavaScript in my tool belt. Thanks to my experience with C/C++ my knowledge isn't just limited to the high level aspect of software. I do have proficient understanding of the computer architecture, and Atmel assembly.

                        Of the web technologies I am interested in, Full Stack development is a major passion of mine. I am seeking opportunities that will allow me to gain practical experience with Full Stack development, and build on my knowledge of web technologies.
                    </pre>
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-6">
                <div class="tab-group">
                    <button type="button" class="tab {{detail.state}}" *ngFor="let detail of details" (click)="changeDetail(detail)">{{detail.name}}</button>
                </div>
                <div id="summary-component" class="row">
                    <div id="summary-content" class="detail" *ngIf="currDetail">
                        <ul class="list">
                            <li *ngFor="let content of currDetail.text.content">
                                <dl>
                                    <dt>{{content.title}}</dt>
                                    <dd *ngFor="let value of content.values">
                                        <pre>{{value}}</pre>
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row tail-container">
        <div class="row tail-head">
            <h3 id="advert-text">Availale for Hire</h3>
        </div>
        <div class="row tail-content">
            <div class="col-12">
                <pre>
                </pre>
            </div>
        </div>
    </div>
</div>