<div>
    <div class="head-container">
        <h1>My Projects</h1>
    </div>
    <div class="row main-container">
        <div class="row main-content">
            <div class="col-12">
                <div>
                    <div class="card col-4 prim-brd">
                        <h5 class="card-title">
                            CSC 337 Final Project
                        </h5>
                        <div class="card-content">
                            A MineSweeper Service my partner and I built. It was a full stack XAMPP projects.
                            The user could play minesweeper, register, login and gain access to extra features.
                        </div>
                        <div class="card-footer">
                            <button class="btn"><a routerLink="/showcase" routerLinkActive="active">Showcase</a></button><button class="btn"><a class="" href="https://github.com/Boatdude55/CSC337-Final" target="_blank">Github</a></button>
                        </div>
                    </div>
                    <div class="card col-4 prim-brd">
                        <h5 class="card-title">
                            MongoDB Admin GUI
                        </h5>
                        <div class="card-content">
                            A GUI for mongodb document insertion. Accepts XML document and parses and produces JSON.
                            Then the user can start the mongo server, connect, and insert the JSON. 
                        </div>
                        <div class="card-footer">
                            <button class="btn"><a class="" href="https://github.com/Boatdude55/MongoAdmin_GUI" target="_blank">Github</a></button>
                        </div>
                    </div>
                    <div class="card col-4 prim-brd">
                        <h5 class="card-title">
                            Node JS logger
                        </h5>
                        <div class="card-content">
                            A small module I made using for using the Console module. It leverages the functional programming concepts of Currying and Partial Functions.
                        </div>
                        <div class="card-footer">
                            <button class="btn"><a class="" href="https://www.npmjs.com/package/@ivandev/console-color-logging#install" target="_blank">NPM</a></button>
                        </div>
                    </div>
                    <div class="card col-4 prim-brd">
                        <h5 class="card-title">
                            More Projects
                        </h5>
                        <div class="card-content">
                        </div>
                        <div class="card-footer">
                            <button class="btn"><a class="" href="https://github.com/Boatdude55?tab=repositories" target="_blank">See More</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row tail-container">
        <div class="row head">
            <div class="col-12">
                <!-- TODO: Create section describing motivation -->
            </div>
        </div>
    </div>
</div>